/*
 * Config for A2R Proxy Server
 *
 */

{

  // A2R Proxy Server

  /* The lokal port of the Proxy Server, defaults to 7010 */
  //"notify_server_port": 7010,

  /* The address and port of the A2R Index Server to notify about new sessions */
  "index_server_address": "192.168.121.235",  // never ever set this to 127.0.0.1
  "index_server_port": 7000

}
