/*
 * Config for A2R Proxy Server
 *
 */

{

  // A2R Proxy Notify Server

  /* The lokal port of the Notify Server, defaults to 7010 */
  //"notify_server_port": 7010,

  /* The address and port of the A2R Index Server to notify */
  "index_server_address": "127.0.0.1",
  "index_server_port": 7001

}
